In [133]:
import pandas as pd
import numpy as np

In [203]:
dfo_md = pd.read_csv("/Users/Diana/Documents/escuela/msc/data/bbmp_aggregated_profiles.csv")
bb_md = pd.read_csv("/Users/Diana/Documents/escuela/msc/data/metadata/METADATA.csv")

In [204]:
#restrict to only years of interest 2015 2016
dfo_md_15 = dfo_md[dfo_md.year_time == 2015]
dfo_md_15.loc[:,'year'] = "BB15" #add this column to match with metadata for QIIME2

dfo_md_16 = dfo_md[dfo_md.year_time == 2016]
dfo_md_16.loc[:,'year'] = "BB16"

In [205]:
dfo_1516 = pd.concat([dfo_md_15, dfo_md_16])

In [206]:
#restrict to only pressures 1,5,10,60
dfo_pressure_1 = dfo_1516[dfo_1516.pressure == 1.0]
dfo_pressure_1.loc[:,'depth_code'] = "A"

dfo_pressure_5 = dfo_1516[dfo_1516.pressure == 5.0]
dfo_pressure_5.loc[:,'depth_code'] = "B"

dfo_pressure_10 = dfo_1516[dfo_1516.pressure == 10.0]
dfo_pressure_10.loc[:,'depth_code'] = "C"

dfo_pressure_60 = dfo_1516[dfo_1516.pressure == 60.0]
dfo_pressure_60.loc[:,'depth_code'] = "D"

In [207]:
dfo_1516 = pd.concat([dfo_pressure_1,dfo_pressure_5,dfo_pressure_10,dfo_pressure_60])

In [208]:
dfo_1516 = dfo_1516.sort_values(by="time_string")
dfo_1516

,time_string,year_time,month_time,day_time,julian_day,scan,pressure,temperature,conductivity,oxygenVoltage,...,fluorometer2,theta,sigmaTheta2,VOLT,TURB,depth,scan2,flagArchaic,year,depth_code
118254,2015-01-07 13:28:34,2015,1,7,7,1973.0,1.0,3.6134,0.649715,2.2318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A
118272,2015-01-07 13:28:34,2015,1,7,7,2056.0,10.0,4.4283,0.669009,2.2187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,C
118372,2015-01-07 13:28:34,2015,1,7,7,2900.0,60.0,5.2485,0.709660,0.8132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,D
118262,2015-01-07 13:28:34,2015,1,7,7,1973.0,5.0,3.6179,0.649825,2.2369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,B
118388,2015-01-14 13:16:27,2015,1,14,14,2478.0,1.0,3.1378,0.643474,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131656,2016-12-14 13:19:05,2016,12,14,349,2153.0,1.0,5.9933,0.685450,3.2306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A
131806,2016-12-21 13:03:06,2016,12,21,356,3335.0,5.0,5.0736,0.669200,3.2146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,B
131798,2016-12-21 13:03:06,2016,12,21,356,3257.0,1.0,3.6150,0.624820,3.2959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A
131816,2016-12-21 13:03:06,2016,12,21,356,3418.0,10.0,5.2547,0.675190,3.1589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,C
131916,2016-12-21 13:03:06,2016,12,21,356,4295.0,60.0,5.4371,0.714080,1.3649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D

In [209]:
dfo_1516.shape

(400, 46)

In [210]:
#add week number
week15 = np.arange(2,52)
week15 = np.repeat(week15, 4)

week16 = np.arange(1,52)
week16 = week16[week16 != 12]
week16 = np.repeat(week16, 4)

week = np.concatenate([week15, week16])
week

array([ 2,  2,  2,  2,  3,  3,  3,  3,  4,  4,  4,  4,  5,  5,  5,  5,  6,
        6,  6,  6,  7,  7,  7,  7,  8,  8,  8,  8,  9,  9,  9,  9, 10, 10,
       10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14,
       14, 15, 15, 15, 15, 16, 16, 16, 16, 17, 17, 17, 17, 18, 18, 18, 18,
       19, 19, 19, 19, 20, 20, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23,
       23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 26, 27, 27,
       27, 27, 28, 28, 28, 28, 29, 29, 29, 29, 30, 30, 30, 30, 31, 31, 31,
       31, 32, 32, 32, 32, 33, 33, 33, 33, 34, 34, 34, 34, 35, 35, 35, 35,
       36, 36, 36, 36, 37, 37, 37, 37, 38, 38, 38, 38, 39, 39, 39, 39, 40,
       40, 40, 40, 41, 41, 41, 41, 42, 42, 42, 42, 43, 43, 43, 43, 44, 44,
       44, 44, 45, 45, 45, 45, 46, 46, 46, 46, 47, 47, 47, 47, 48, 48, 48,
       48, 49, 49, 49, 49, 50, 50, 50, 50, 51, 51, 51, 51,  1,  1,  1,  1,
        2,  2,  2,  2,  3,  3,  3,  3,  4,  4,  4,  4,  5,  5,  5,  5,  6,
        6,  6,  6,  7,  7,  7,  7,  8,  8,  8,  8,  9,  9,  9,  9, 10, 10,
       10, 10, 11, 11, 11, 11, 13, 13, 13, 13, 14, 14, 14, 14, 15, 15, 15,
       15, 16, 16, 16, 16, 17, 17, 17, 17, 18, 18, 18, 18, 19, 19, 19, 19,
       20, 20, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23, 23, 24,
       24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 26, 27, 27, 27, 27, 28, 28,
       28, 28, 29, 29, 29, 29, 30, 30, 30, 30, 31, 31, 31, 31, 32, 32, 32,
       32, 33, 33, 33, 33, 34, 34, 34, 34, 35, 35, 35, 35, 36, 36, 36, 36,
       37, 37, 37, 37, 38, 38, 38, 38, 39, 39, 39, 39, 40, 40, 40, 40, 41,
       41, 41, 41, 42, 42, 42, 42, 43, 43, 43, 43, 44, 44, 44, 44, 45, 45,
       45, 45, 46, 46, 46, 46, 47, 47, 47, 47, 48, 48, 48, 48, 49, 49, 49,
       49, 50, 50, 50, 50, 51, 51, 51, 51])

In [211]:
dfo_1516['week'] = week

In [212]:
dfo_1516

,time_string,year_time,month_time,day_time,julian_day,scan,pressure,temperature,conductivity,oxygenVoltage,...,theta,sigmaTheta2,VOLT,TURB,depth,scan2,flagArchaic,year,depth_code,week
118254,2015-01-07 13:28:34,2015,1,7,7,1973.0,1.0,3.6134,0.649715,2.2318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,2
118272,2015-01-07 13:28:34,2015,1,7,7,2056.0,10.0,4.4283,0.669009,2.2187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,C,2
118372,2015-01-07 13:28:34,2015,1,7,7,2900.0,60.0,5.2485,0.709660,0.8132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,D,2
118262,2015-01-07 13:28:34,2015,1,7,7,1973.0,5.0,3.6179,0.649825,2.2369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,B,2
118388,2015-01-14 13:16:27,2015,1,14,14,2478.0,1.0,3.1378,0.643474,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131656,2016-12-14 13:19:05,2016,12,14,349,2153.0,1.0,5.9933,0.685450,3.2306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,50
131806,2016-12-21 13:03:06,2016,12,21,356,3335.0,5.0,5.0736,0.669200,3.2146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,B,51
131798,2016-12-21 13:03:06,2016,12,21,356,3257.0,1.0,3.6150,0.624820,3.2959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,51
131816,2016-12-21 13:03:06,2016,12,21,356,3418.0,10.0,5.2547,0.675190,3.1589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,C,51
131916,2016-12-21 13:03:06,2016,12,21,356,4295.0,60.0,5.4371,0.714080,1.3649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D,51

In [213]:
#how to join them:

#We'll make a new list to be our new column.
new_labels = []

#we can iterate through rows with this.
for _, row in dfo_1516.iterrows():
    #we can get the column value of each row by indexing on the column name
    year = row['year']
    depth_code = row['depth_code']
    week = row['week']
    #we use string formatting here to make a new label
    new_label = "{0}.{1}{2}".format(year, week, depth_code)
    #add the new label to the list
    new_labels.append(new_label)
#this will make a new column in the df called 'NewLabel' with the values
dfo_1516['name'] = new_labels
dfo_1516

,time_string,year_time,month_time,day_time,julian_day,scan,pressure,temperature,conductivity,oxygenVoltage,...,sigmaTheta2,VOLT,TURB,depth,scan2,flagArchaic,year,depth_code,week,name
118254,2015-01-07 13:28:34,2015,1,7,7,1973.0,1.0,3.6134,0.649715,2.2318,...,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,2,BB15.2A
118272,2015-01-07 13:28:34,2015,1,7,7,2056.0,10.0,4.4283,0.669009,2.2187,...,NaN,NaN,NaN,NaN,NaN,NaN,BB15,C,2,BB15.2C
118372,2015-01-07 13:28:34,2015,1,7,7,2900.0,60.0,5.2485,0.709660,0.8132,...,NaN,NaN,NaN,NaN,NaN,NaN,BB15,D,2,BB15.2D
118262,2015-01-07 13:28:34,2015,1,7,7,1973.0,5.0,3.6179,0.649825,2.2369,...,NaN,NaN,NaN,NaN,NaN,NaN,BB15,B,2,BB15.2B
118388,2015-01-14 13:16:27,2015,1,14,14,2478.0,1.0,3.1378,0.643474,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,3,BB15.3A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131656,2016-12-14 13:19:05,2016,12,14,349,2153.0,1.0,5.9933,0.685450,3.2306,...,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,50,BB16.50A
131806,2016-12-21 13:03:06,2016,12,21,356,3335.0,5.0,5.0736,0.669200,3.2146,...,NaN,NaN,NaN,NaN,NaN,NaN,BB16,B,51,BB16.51B
131798,2016-12-21 13:03:06,2016,12,21,356,3257.0,1.0,3.6150,0.624820,3.2959,...,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,51,BB16.51A
131816,2016-12-21 13:03:06,2016,12,21,356,3418.0,10.0,5.2547,0.675190,3.1589,...,NaN,NaN,NaN,NaN,NaN,NaN,BB16,C,51,BB16.51C
131916,2016-12-21 13:03:06,2016,12,21,356,4295.0,60.0,5.4371,0.714080,1.3649,...,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D,51,BB16.51D

In [214]:
#merge 2 metadata files
metadata_bb = pd.merge(bb_md, dfo_1516, on = 'name',how='outer')
metadata_bb

,sample-id,investigation_id,date,week_x,week_plus_year,depth_x,depth_code_x,name,month,time_string,...,theta,sigmaTheta2,VOLT,TURB,depth_y,scan2,flagArchaic,year,depth_code_y,week_y
0,16SV6-BB15.2A,BedfordBasin_TimeSeries,07-Jan,2,2,1,A,BB15.2A,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,2.0
1,16SV6-BB15.2B,BedfordBasin_TimeSeries,07-Jan,2,2,5,B,BB15.2B,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,B,2.0
2,16SV6-BB15.2C,BedfordBasin_TimeSeries,07-Jan,2,2,10,C,BB15.2C,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,C,2.0
3,16SV6-BB15.2D,BedfordBasin_TimeSeries,07-Jan,2,2,60,D,BB15.2D,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,D,2.0
4,16SV6-BB15.3A,BedfordBasin_TimeSeries,14-Jan,3,3,1,A,BB15.3A,Jan,2015-01-14 13:16:27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,16SV6-BB16.50D,BedfordBasin_TimeSeries,14-Dec,50,101,60,D,BB16.50D,Dec,2016-12-14 13:19:05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D,50.0
400,16SV6-BB16.51A,BedfordBasin_TimeSeries,21-Dec,51,102,1,A,BB16.51A,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,51.0
401,16SV6-BB16.51B,BedfordBasin_TimeSeries,21-Dec,51,102,5,B,BB16.51B,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,B,51.0
402,16SV6-BB16.51C,BedfordBasin_TimeSeries,21-Dec,51,102,10,C,BB16.51C,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,C,51.0
403,16SV6-BB16.51D,BedfordBasin_TimeSeries,21-Dec,51,102,60,D,BB16.51D,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D,51.0

In [197]:
dfo_1516.to_csv('dfo_metadata_y1516.csv', index=False)

In [215]:
metadata_bb.to_csv('test2.csv', index=False)

In [219]:
metadata_bb.dropna(axis=1, how='all', thresh=None)

,sample-id,investigation_id,date,week_x,week_plus_year,depth_x,depth_code_x,name,month,time_string,...,QoxygenVoltage,QpH,Qfluorometer,Qpar,Qsalinity,Qoxygen,QsigmaTheta,year,depth_code_y,week_y
0,16SV6-BB15.2A,BedfordBasin_TimeSeries,07-Jan,2,2,1,A,BB15.2A,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,2.0
1,16SV6-BB15.2B,BedfordBasin_TimeSeries,07-Jan,2,2,5,B,BB15.2B,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,B,2.0
2,16SV6-BB15.2C,BedfordBasin_TimeSeries,07-Jan,2,2,10,C,BB15.2C,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,C,2.0
3,16SV6-BB15.2D,BedfordBasin_TimeSeries,07-Jan,2,2,60,D,BB15.2D,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,D,2.0
4,16SV6-BB15.3A,BedfordBasin_TimeSeries,14-Jan,3,3,1,A,BB15.3A,Jan,2015-01-14 13:16:27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB15,A,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,16SV6-BB16.50D,BedfordBasin_TimeSeries,14-Dec,50,101,60,D,BB16.50D,Dec,2016-12-14 13:19:05,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,BB16,D,50.0
400,16SV6-BB16.51A,BedfordBasin_TimeSeries,21-Dec,51,102,1,A,BB16.51A,Dec,2016-12-21 13:03:06,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,BB16,A,51.0
401,16SV6-BB16.51B,BedfordBasin_TimeSeries,21-Dec,51,102,5,B,BB16.51B,Dec,2016-12-21 13:03:06,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,BB16,B,51.0
402,16SV6-BB16.51C,BedfordBasin_TimeSeries,21-Dec,51,102,10,C,BB16.51C,Dec,2016-12-21 13:03:06,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,BB16,C,51.0
403,16SV6-BB16.51D,BedfordBasin_TimeSeries,21-Dec,51,102,60,D,BB16.51D,Dec,2016-12-21 13:03:06,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,BB16,D,51.0

In [220]:
metadata_bb.drop(columns=['year', 'depth_code_y','week_y'])

,sample-id,investigation_id,date,week_x,week_plus_year,depth_x,depth_code_x,name,month,time_string,...,QoxygenTemperature,Qunknown,fluorometer2,theta,sigmaTheta2,VOLT,TURB,depth_y,scan2,flagArchaic
0,16SV6-BB15.2A,BedfordBasin_TimeSeries,07-Jan,2,2,1,A,BB15.2A,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16SV6-BB15.2B,BedfordBasin_TimeSeries,07-Jan,2,2,5,B,BB15.2B,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16SV6-BB15.2C,BedfordBasin_TimeSeries,07-Jan,2,2,10,C,BB15.2C,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16SV6-BB15.2D,BedfordBasin_TimeSeries,07-Jan,2,2,60,D,BB15.2D,Jan,2015-01-07 13:28:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16SV6-BB15.3A,BedfordBasin_TimeSeries,14-Jan,3,3,1,A,BB15.3A,Jan,2015-01-14 13:16:27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,16SV6-BB16.50D,BedfordBasin_TimeSeries,14-Dec,50,101,60,D,BB16.50D,Dec,2016-12-14 13:19:05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,16SV6-BB16.51A,BedfordBasin_TimeSeries,21-Dec,51,102,1,A,BB16.51A,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,16SV6-BB16.51B,BedfordBasin_TimeSeries,21-Dec,51,102,5,B,BB16.51B,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,16SV6-BB16.51C,BedfordBasin_TimeSeries,21-Dec,51,102,10,C,BB16.51C,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,16SV6-BB16.51D,BedfordBasin_TimeSeries,21-Dec,51,102,60,D,BB16.51D,Dec,2016-12-21 13:03:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
metadata_bb.to_csv('metadata_final.csv', index=False)

In [373]:
biomtable = pd.read_csv("/Users/Diana/Documents/escuela/msc/SFW1920/courses/stat5620/data/table2 copy.tsv", sep='\t')
classification = pd.read_csv("/Users/Diana/Documents/escuela/msc/SFW1920/courses/stat5620/data/silva_table2_taxo.tsv", sep='\t')

In [374]:
biomtable['Feature ID'] = biomtable.index
merged = pd.merge(biomtable, classification, on = 'Feature ID',how='inner')
merged = merged.drop(columns=['Confidence', 'Feature ID'])
merged = merged.set_index('Taxon')

In [375]:
merged.loc[:,'Total'] = merged.sum(axis=1)
merged

,16SV6-BB16.01A,16SV6-BB16.02A,16SV6-BB16.03A,16SV6-BB16.04A,16SV6-BB16.05A,16SV6-BB16.06A,16SV6-BB16.07A,16SV6-BB16.08A,16SV6-BB16.09A,16SV6-BB16.10A,...,16SV6-BB16.7B,16SV6-BB16.7C,16SV6-BB16.7D,16SV6-BB16.8B,16SV6-BB16.8C,16SV6-BB16.8D,16SV6-BB16.9B,16SV6-BB16.9C,16SV6-BB16.9D,Total
Taxon,,,,,,,,,,,,,,,,,,,,,
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__SAR11 clade;D_4__Clade I;D_5__Clade Ia,28.0,26.0,20.0,75.0,45.0,40.0,53.0,46.0,72.0,24.0,...,49.0,55.0,68.0,35.0,57.0,103.0,58.0,83.0,129.0,18769.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__SAR11 clade;D_4__Clade I;D_5__Clade Ia,21.0,21.0,25.0,47.0,34.0,39.0,46.0,27.0,54.0,25.0,...,39.0,47.0,72.0,35.0,35.0,88.0,35.0,45.0,80.0,16000.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae;D_5__Planktomarina,54.0,51.0,32.0,58.0,68.0,66.0,81.0,73.0,121.0,56.0,...,68.0,57.0,23.0,85.0,50.0,14.0,95.0,145.0,23.0,14837.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae;D_5__Planktomarina,36.0,46.0,16.0,40.0,41.0,56.0,75.0,55.0,103.0,48.0,...,65.0,45.0,28.0,77.0,63.0,22.0,50.0,83.0,20.0,13341.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae,36.0,206.0,65.0,209.0,162.0,187.0,145.0,161.0,77.0,113.0,...,167.0,131.0,25.0,226.0,169.0,28.0,62.0,100.0,19.0,11996.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodospirillales;D_4__Magnetospiraceae;D_5__uncultured,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
D_0__Bacteria;D_1__Bacteroidetes;D_2__Bacteroidia;D_3__Flavobacteriales;D_4__Cryomorphaceae;D_5__uncultured;D_6__uncultured bacterium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [379]:
groupedbytaxon = merged.groupby(['Taxon']).sum()

In [380]:
top20 = groupedbytaxon.nlargest(20,'Total')

In [382]:
top20 = top20.drop(columns=['Total'])

In [383]:
top20 = top20.T
top20['sample-id'] = top20.index

In [384]:
withmeta = pd.merge(top20, metadata_bb, on = 'sample-id',how='inner')

In [385]:
withmeta

,D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae,D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__SAR11 clade;D_4__Clade I;D_5__Clade Ia,D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae;D_5__Planktomarina,D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__SAR11 clade;D_4__Clade II,D_0__Bacteria;D_1__Cyanobacteria;D_2__Oxyphotobacteria;D_3__Chloroplast,D_0__Bacteria;D_1__Bacteroidetes;D_2__Bacteroidia;D_3__Flavobacteriales;D_4__Flavobacteriaceae,D_0__Bacteria;D_1__Bacteroidetes;D_2__Bacteroidia;D_3__Flavobacteriales;D_4__Flavobacteriaceae;D_5__NS5 marine group,D_0__Bacteria;D_1__Bacteroidetes;D_2__Bacteroidia;D_3__Flavobacteriales;D_4__Flavobacteriaceae;D_5__uncultured,D_0__Bacteria;D_1__Bacteroidetes;D_2__Bacteroidia;D_3__Flavobacteriales;D_4__Flavobacteriaceae;D_5__Ulvibacter,D_0__Bacteria;D_1__Proteobacteria;D_2__Alphaproteobacteria;D_3__Rhodobacterales;D_4__Rhodobacteraceae;D_5__Amylibacter,...,theta,sigmaTheta2,VOLT,TURB,depth_y,scan2,flagArchaic,year,depth_code_y,week_y
0,369.0,284.0,203.0,479.0,950.0,28.0,217.0,226.0,144.0,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,1.0
1,1246.0,196.0,248.0,190.0,176.0,94.0,217.0,141.0,201.0,178.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,2.0
2,588.0,203.0,128.0,291.0,1401.0,129.0,240.0,184.0,246.0,207.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,3.0
3,1371.0,444.0,267.0,379.0,504.0,225.0,205.0,220.0,216.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,4.0
4,922.0,362.0,282.0,294.0,186.0,93.0,73.0,0.0,169.0,113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,A,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1064.0,339.0,298.0,295.0,37.0,100.0,340.0,192.0,118.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,C,8.0
196,184.0,702.0,151.0,580.0,30.0,4.0,188.0,173.0,52.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D,8.0
197,527.0,368.0,428.0,200.0,317.0,140.0,163.0,204.0,100.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,B,9.0
198,723.0,590.0,569.0,436.0,155.0,190.0,346.0,142.0,150.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,C,9.0
199,329.0,730.0,186.0,561.0,17.0,8.0,151.0,116.0,0.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB16,D,9.0

In [386]:
withmeta.to_csv('trytomodel.csv', index=False)

,16SV6-BB16.01A,16SV6-BB16.02A,16SV6-BB16.03A,16SV6-BB16.04A,16SV6-BB16.05A,16SV6-BB16.06A,16SV6-BB16.07A,16SV6-BB16.08A,16SV6-BB16.09A,16SV6-BB16.10A,...,16SV6-BB16.6D,16SV6-BB16.7B,16SV6-BB16.7C,16SV6-BB16.7D,16SV6-BB16.8B,16SV6-BB16.8C,16SV6-BB16.8D,16SV6-BB16.9B,16SV6-BB16.9C,16SV6-BB16.9D
6bc23b7f2d588e45db0b1fe86580a060,28.0,26.0,20.0,75.0,45.0,40.0,53.0,46.0,72.0,24.0,...,41.0,49.0,55.0,68.0,35.0,57.0,103.0,58.0,83.0,129.0
14473067e72234c1be21de5936759fe3,21.0,21.0,25.0,47.0,34.0,39.0,46.0,27.0,54.0,25.0,...,28.0,39.0,47.0,72.0,35.0,35.0,88.0,35.0,45.0,80.0
314654a3adbbd755eeadf0f6d5af9817,54.0,51.0,32.0,58.0,68.0,66.0,81.0,73.0,121.0,56.0,...,22.0,68.0,57.0,23.0,85.0,50.0,14.0,95.0,145.0,23.0
820d9d8f10175a741adac1b39fa3fccd,36.0,46.0,16.0,40.0,41.0,56.0,75.0,55.0,103.0,48.0,...,26.0,65.0,45.0,28.0,77.0,63.0,22.0,50.0,83.0,20.0
34db49fdb8593ca7de46f7fd69de5ebb,36.0,206.0,65.0,209.0,162.0,187.0,145.0,161.0,77.0,113.0,...,30.0,167.0,131.0,25.0,226.0,169.0,28.0,62.0,100.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99d46402bbadd040dc7936115262a8ca,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
71d1c9a45fb1ac9f636b432ebb064d9d,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0d2734c11b8ed40c2277ea33d68d0800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1083e4c9928485eb4bc0a40e0566e126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
f4ad14f4867c3b7f39d2ab961c136408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0